{
  "defaultSettings": {
    "checkUpdatesInterval": 10,
    "enableUpdates": false,
    "addDesktopShortcuts": false,
    "addStartMenuShortcuts": false,
    "autoInstallDxvk": false,
    "autoInstallVkd3d": false,
    "autoInstallDxvkNvapi": false,
    "addSteamShortcuts": false,
    "preferSystemLibs": false,
    "checkForUpdatesOnStartup": true,
    "autoUpdateGames": false,
    "customWinePaths": [],
    "defaultInstallPath": "{{ .Env.USERPROFILE | strings.ReplaceAll "\\" "\\\\" }}\\Games\\Heroic",
    "libraryTopSection": "disabled",
    "defaultSteamPath": "C:\\Program Files (x86)\\Steam",
    "defaultWinePrefix": "{{ .Env.USERPROFILE | strings.ReplaceAll "\\" "\\\\" }}\\Games\\Heroic\\Prefixes\\default",
    "hideChangelogsOnStartup": false,
    "language": "en",
    "maxWorkers": 0,
    "minimizeOnLaunch": false,
    "nvidiaPrime": false,
    "enviromentOptions": [],
    "wrapperOptions": [],
    "showFps": false,
    "useGameMode": false,
    "wineCrossoverBottle": "Heroic",
    "winePrefix": "",
    "wineVersion": {},
    "enableEsync": true,
    "enableFsync": false,
    "enableMsync": false,
    "eacRuntime": false,
    "battlEyeRuntime": false,
    "framelessWindow": false,
    "beforeLaunchScriptPath": "",
    "afterLaunchScriptPath": "",
    "disableUMU": false,
    "verboseLogs": false,
    "downloadProtonToSteam": false,
    "customThemesPath": "{{ .Env.USERPROFILE | strings.ReplaceAll "\\" "\\\\" }}\\.config\\heroic\\themes"
  },
  "version": "v0"
}