{
  "$schema": "https://opencode.ai/config.json",
  "theme": "catppuccin-macchiato",
  "enabled_providers": [ "azure-cognitive-services", "google-vertex" ],
  "autoupdate": "notify",
  "provider": {
    "azure-cognitive-services": {
      "options": {
        "apiKey": "{env:AZURE_OPENAI_API_KEY}",
        "resourceName": "{{ .Env.FOUNDRY_RESOURCE_NAME }}",
        "setCacheKey": true
      }
  },
  "default_agent": "build",
  "model": "google-vertex/gemini-2.5-pro",
  "agent": {
    "plan": {
      "mode": "subagent",
      "model": "google-vertex/gemini-3-pro-preview"
    },
    "explore": {
      "mode": "subagent",
      "model": "azure-cognitive-services/gpt-5.1-codex-mini"
    },
    "general": {
      "mode": "primary",
      "model": "azure-cognitive-services/gpt-5.1-codex-mini"
    },
    "build": {
      "mode": "primary",
      "model": "google-vertex/gemini-2.5-pro"
    },
    "title": {
      "mode": "subagent",
      "model": "azure-cognitive-services/gpt-4.1-mini"
    },
    "compaction": {
      "mode": "subagent",
      "model": "google-vertex/gemini-2.5-flash"
    },
    "summary": {
      "mode": "subagent",
      "model": "google-vertex/gemini-2.5-pro"
    }
  },
  "small_model": "google-vertex/gemini-2.5-flash",
  "share": "disabled"
}