{
  "$schema": "https://opencode.ai/config.json",
  "theme": "catppuccin-macchiato",
  "enabled_providers": [ "azure" ],
  "autoupdate": "notify",
  "provider": {
    "azure": {
      "options": {
        "apiKey": "{env:AZURE_OPENAI_API_KEY}",
        "resourceName": "{{ .Env.FOUNDRY_RESOURCE_NAME }}",
        "setCacheKey": true
      },
      {{- if .Env.MODELS }}
      "models": {
      {{- $models:=.Env.MODELS | strings.Split "\n" }}
      {{- range $index, $model := $models }}
        "{{ $model }}": {
          "name": "{{ $model }}"{{ if strings.HasPrefix "gpt-" $model }},
          "options": {
            "useCompletionUrls": false
          }
          {{- end }}
        }{{ if (lt (add $index 1) (len $models)) }},{{ end }}
      {{- end }}
      }
      {{- end }}
    }
  },
  "model": "azure/gpt-5.1-codex-mini",
  "small_model": "azure/Phi-4"
}